html{
    scroll-behavior: smooth;
}
.formato{
    list-style: none;
    margin-left: -30px;
    font-size: 14px;
}

.img-tamano{
    height: 350px;
    object-fit: none;
}

.img-perfil{
    object-fit: cover;
}

.img-tamano:hover{
    object-fit: contain;
}

.title-perfil{
    font-size: 30px;
    font-weight: inherit;
}

.subtitle-perfil{
    list-style: none;
    margin-left: -30px;
    font-size: 18px;
}

.logo{
    width: 30px;
    margin-right: 8px;
}

.texto-subtitle{
    font-weight: 100;
    font-size: 4em;
}

.texto-jumbotron{
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 14px;
}


@media (max-width: 768px) {
    .logo{
        width: 5%;    
    }
 }

 @media (max-width: 576px) {
    .logo{
        width: 45px;
    }

    .container-cellphone{
        margin-top: -35px;
        padding: 10px;
    }

    .texto-jumbotron{
        font-size: 45px;
        margin-bottom: 30px;
    }

    .texto-subtitle{
        font-size: 3em;
    }

    .card-proyect{
        width: 15rem;
    }
 }
